   <div id = "targetElement" style="padding-top: 5px;">
        <div id = "divEntry"></div>
        <div id = "divEntryData" class="hiddenElement"></div>
        <div id ="divAlert"></div>
        <input id ="txtGlobalNotification" type="text" class ="hiddenElement" />
        <input id ="txtFormNotification" type="text" class ="hiddenElement" />
        <input id ="txtGridNotification" type="text"  class ="hiddenElement" />
        <input id ="txtControlsNotification" type="text"  class ="hiddenElement" />
   </div>  
  <script type="text/javascript">
      $("#targetElement").hide();
  </script>