@using Wizardsgroup.Core.Web.Extensions
<ul class="nav-header tablet">
    <li>@Html.CustomLinkNewTab("Home", "Index", "Home", new { area = "Common" }, "TaskSample")</li>
    <li>@Html.CustomLinkNewTab("Account", "Index", "Account", new { area = "AMIS" }, "Account")</li>
    @*<li>@Html.CustomLinkNewTab("Package Builder", "Index", "PackageBuilder", new {area = "AMIS"}, "Package Builder")</li>*@
    <li>@Html.CustomLinkNewTab("Test", "Index", "Test", new { area = "AMIS" }, "Test")</li>
</ul>

