@{
    ViewBag.Title = "Error";
}

<h3>General Server Exception</h3>
A general server exception has occurred! Please try again.
<div>&nbsp;</div>
<div>
    <strong>Error Message: @ViewBag.Message</strong>
</div>
<div id="divMaster"></div>
